# ------------------- vSphere -------------------
vsphere_server = "********"
vsphere_user = "********"
vsphere_password = "********"
vsphere_datacenter = "********"
vsphere_network = "********"
datastore_cluster = "********"
# -----------------------------------------------

# --------------- Template Setup ----------------
vsphere_virtual_machine_template = "CentOS-8.2-10G"
ssh_username = "root"
ssh_password = "********"