# ------------------- vSphere -------------------
vsphere_server = "********"
vsphere_user = "********"
vsphere_password = "********"
vsphere_datacenter = "********"
vsphere_network = "********"
datastore_cluster = "********"

# --------------- Template Setup ----------------
vsphere_virtual_machine_template = "CentOS-8.2-10G"
ssh_username = "root"
ssh_password = "********"

# # ------------------- Backend -------------------
# endpoint = "http://172.16.1.10:9000"
# access_key = "minioadmin"
# secret_key = "minioadmin"
# bucket = "terraform"